.navbar.navbar-expand-lg.bg-body-tertiary{
background-color: #74EBD5;background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);
}

/*COLORES LOGOS REDES*/

/*USER LOGIN*/
.fa-regular.fa-user.fa-2xl:hover{
    color: darkgreen;
}

/*LINKEDIN*/
.fa-brands.fa-linkedin.fa-2xl:hover{
    color: rgb(7, 145, 209);
}
/*GITHUB*/
.fa-brands.fa-github.fa-2xl:hover{
    color:#d1d1d1;
}

/*INSTAGRAM*/
.fa-brands.fa-instagram.fa-2xl:hover{
    color: rgba(255, 0, 106, 0.397);


}

.list-group{
    --bs-list-group-bg: transparent;
    --bs-list-group-border-color: transparent;
}

/*Color de fondo para ventana login*/
.modal-content{
   /* */
    background-color: #74EBD5;background-image: linear-gradient(90deg, #74EBD5 0%, #9FACE6 100%);

    /*SI QUEREMOS AGREGAR UNA IMAGEN UTILIZAMOS EL SIGUIENTE COMANDO
    background-image: url("/PortfolioFrontend/Assets/images/cascada-con-auroras-polares_3740x2104_xtrafondos.com.jpg");
    */
}